body {
    background-image: url("4a04093569f391a58b35ac21bab9984b.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.ux {
    color: #C3C3C3;
    ;
}
.a {
    color: #C3C3C3;
}
.ego {
    color: #FFFFFF;
    ;
}
.b {
    color: #C3C3C3;
}
.c {
    color: #FFFFFF;
}
.d {
    color: #C3C3C3;
}
.e {
    color: #C3C3C3;
}
.f {
    color: #FFFFFF;
}
.g {
    color: #C3C3C3;
}
.h {
    color: #FFFFFF;
}